
.AccountFormWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
    margin: auto auto;
    width: 30vw;
    height: 50vh;
    color: white;
    border-radius: 3em;
    border: 0.1em solid black;
    overflow: hidden;

}

.AccountFormWrapper label{
    margin: 2em;
    padding: 2em;
    background-color: rgb(171, 160, 177);
    margin: auto auto;
}


.AccountFormWrapper input{
    width: 16em;
    height: 2em;
}

.AccountFormWrapper button{
    background-color: rgb(105, 162, 226);
    width: 100%;
    height: 15%;
    color: white;
    border: 0em
}

.AccountFormWrapper button:hover{
    background-color: rgb(21, 163, 151);
}
